<div class="mb-6">
  <label for="title"
         class="block mb-2 text-sm font-medium {{valid ? 'text-red-700 dark:text-red-500' : 'text-gray-900 dark:text-white'}}">
    {{labelName}}
  </label>
  <div class="relative w-full">
    <input readonly
           (focus)="markAsTouched()"
           (click)="showSelections = !showSelections"
           [(ngModel)]="selectedOptionsInputValue"
           type="text"
           id="title"
           class="{{valid ? 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400' : 'bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}} border text-sm rounded-lg  block w-full p-2.5 "
           placeholder="Nutzer auswählen" required>

    <div
      class="bg-white mt-12 rounded-lg shadow p-4 absolute top-0 left-0 w-full dark:bg-gray-700"
      [hidden]="!showSelections"
      (keydown.away)="showSelections = false"
    >
      <div *ngFor="let option of options" class="flex items-center p-2">
        <input (change)="toggleSelection(option, $event)" id="{{option.displayName}}_checkbox" type="checkbox"
               [checked]="isChecked(option)"
               value="{{option.id}}"
               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label for="{{option.displayName}}_checkbox"
               class="w-full ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{option.displayName}}</label>
      </div>
    </div>
  </div>
</div>


